*.pyc
logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
package-lock.json
bower_components/
app/amazon-connect-*
app/angular.js
app/bootstrap.css
app/bootstrap.css.map
env/
__pycache__
accolade-ccp-darwin-x64
accolade-ccp-linux-armv7l
accolade-ccp-linux-ia32
accolade-ccp-linux-x64
accolade-ccp-mas-x64
accolade-ccp-win32-ia32
accolade-ccp-win32-x64
*~
release-builds
.vscode
*.bak
app/js/ucc-ccp-api-1.0.js
app/js/ucc-ccp-gui-1.0.js
aws_authorization.py
zappa_settings.json